.books-button {
    -fx-background-color: #00ff8f;
    -fx-background-radius: 10;

    -fx-font-weight: 700;

    -fx-border-width: 2;
    -fx-border-color: #00b369;
    -fx-border-radius: 10;

    -fx-cursor: hand;
}