/* phan top cua homeview */
#HBox1, #HBox2 {
    -fx-background-color: #43eca5;
}

#homeViewSignOutLabel, #homeViewSupportLabel, #avatarImageView {
    -fx-alignment: center;
    -fx-text-fill: #024328;
}



#homeViewSignOutLabel:hover, #homeViewSupportLabel:hover,
#avatarImageView:hover {
    -fx-opacity: 0.7;
}

#showText {
    -fx-text-fill: #005e35;
}

.search-container{
    -fx-border-color: #000000;
    -fx-border-radius:30;
    -fx-border-width: 2;

    -fx-background-color: #ffffff;
    -fx-background-radius: 30;
}

.search-choice{
    -fx-border-color: #000000;
    -fx-border-width: 0 2 0 0;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 30;
}

.transparent{
    -fx-background-color: rgba(0, 0, 0, 0);
}

