#HBoxVBox {
    -fx-background-radius: 20;
    -fx-background-color: #efffff;

    /*-fx-border-color: #00a653;*/
    /*-fx-border-width: 2;*/
    /*-fx-border-radius: 20;*/

    -fx-effect: dropshadow(gaussian, rgba(0, 211, 116, 0.3), 20, 0.5, 10, 7);
}

#resetPasswordLabel1, #resetPasswordLabel2, #resetPasswordLabel3,
#resetPasswordSignInLabel, #resetPasswordSignUpLabel {
    -fx-text-fill: #00d374;
}

#resetPasswordPhoneNumberTextField, #resetPasswordNewPasswordPasswordField,
#resetPasswordConfirmPasswordPasswordField {
    -fx-background-radius: 10;
    -fx-background-color: white;

    -fx-border-width: 2;
    -fx-border-color: #00a653;
    -fx-border-radius: 10;
}

#resetPasswordCheckingAccountLabel {
    -fx-wrap-text: true;
}

#resetPasswordButton {
    -fx-text-fill: white;
    -fx-font-weight: 700;

    -fx-background-color: #06dc7c;
    -fx-background-radius: 10;
    -fx-border-color: #009552;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

#resetPasswordButton:hover, #resetPasswordSignInLabel:hover,
#resetPasswordSignUpLabel:hover{
    -fx-opacity: 0.7;
    -fx-cursor: hand;
}

#resetPasswordButton:pressed, #resetPasswordSignInLabel:pressed,
#resetPasswordSignUpLabel:pressed {
    -fx-opacity: 0.9;
}