




.primary-color{
    -fx-background-color: #d5ffd7;
    -fx-border-radius: 30;
}

.card1 {
    -fx-background-color: #fff;
    -fx-background-radius: 10;
}

.menu {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.menu:hover {
    -fx-background-color: #ecfbff;
    -fx-background-radius: 30;
    -fx-border-color: #00f7ff;
    -fx-border-radius: 30;
}

/* .books-button */
.books-button {
    -fx-border-width: 2px;
    -fx-border-color: #24b4fb;
    -fx-background-color: #24b4fb;
    -fx-background-radius: 15;
    -fx-border-radius: 0.9em;
    -fx-cursor: hand;
    -fx-padding: 0.8em 1.2em 0.8em 1em;
    -fx-font-size: 12.5px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-transition: all 0.5s ease-in-out;
}

/* .button-span */
.button-span {
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* .button-hover */
.books-button:hover {
    -fx-background-color: #007af5;
}

.circle {
    -fx-stroke: #3498db;
    -fx-stroke-width: 5px;
    -fx-fill: transparent;
}

.progress-indicator {
    /*visibility: visible; */
    opacity: 1;
}

.APISearchView {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-border-color: #000000;
    -fx-border-width: 1 1 1 1;
}

.bookShortInfo {
    -fx-border-color: #eae9e9;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 2;
    -fx-background-color: #ffffff;
    -fx-background-radius: 2;
}

.search-choice{
    -fx-border-color: #000000;
    -fx-border-width: 0 2 0 0;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 30;
}

.form {
    -fx-border-color: #838383;
    -fx-border-width: 0.5 0.5 0.5 0.5;
    -fx-border-radius: 5;
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
}

.form:focused {
    -fx-border-color: rgb(129, 218, 248);
    -fx-border-width: 2 2 2 2;
    -fx-background-color: #fff;
}

/* Hiệu ứng khi hover */
.form:hover {
    -fx-border-color: rgb(129, 195, 248);
    -fx-background-color: #fff;
}

.Borrowed-Books-Info {

    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-width: 0 0 0 0;
}

.return-books-button {
    -fx-background-color: #bd5355;
}




