#centerArea {
    -fx-background-color: #ffffff;
    -fx-padding: 15;
}

.text {
    -fx-fill: #004e2f;
    -fx-font-size: 14;
    -fx-font-family: "Arial, Helvetica, sans-serif";
}

.label {
    -fx-font-family: "Arial, Helvetica, sans-serif";
}

.label-bold {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.label-bold-icon {
    -fx-font-weight: bold;
    -fx-font-size: 12;
    -fx-text-fill: #444;
}

.note {
    -fx-font-size: 12;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}
