#signUpBox {
    -fx-background-color: #eef8ee;
    -fx-background-radius: 25;
    -fx-border-radius: 20;
    -fx-border-width: 5;
    -fx-border-color: #055e05;
}

#signUpButton {
    -fx-background-color: #02e102;
    -fx-text-fill: white;

    -fx-border-width: 2;
    -fx-border-color: #055e05;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#signUpButton:hover {
    -fx-opacity: 0.7;
    -fx-cursor: hand;
}

#signUpButton:pressed {
    -fx-opacity: 0.9;
}


#signUpNameLabel, #signUpPhoneNumberLabel, #signUpPasswordLabel, #signUpConfirmPasswordLabel {
    -fx-font-weight: 700;
    -fx-text-fill: #055e05;
}

#signUpCheckingAccountLabel {
    -fx-wrap-text: true;
}

#signUpBackToLoginButton {
    -fx-font-weight: 700;
    -fx-text-fill: #055e05;


    -fx-effect: dropshadow(gaussian, rgba(0, 128, 0, 0.5), 10, 0.3, 5, 5);

    -fx-background-color: #eef8ee;
    -fx-background-radius: 25;
    -fx-border-radius: 20;
    -fx-border-width: 3;
    -fx-border-color: #055e05;
}