.white-background{
    -fx-background-color: '#fff';
}

.right-side-border{
    -fx-border-color: #6f6f6f;
    -fx-border-width: 0 1 0 0;
}

.bottom-side-border{
    -fx-border-color: #6f6f6f;
    -fx-border-width: 0 0 1 0;
}

.borrow-button{
    -fx-border-color: #000000;
    -fx-border-radius:30;
    -fx-background-color: #1f8387;
    -fx-background-radius: 30;
}

.search-container{
    -fx-border-color: #000000;
    -fx-border-radius:30;
    -fx-background-color: #ffffff;
    -fx-background-radius: 30;
}

.transparent{
    -fx-background-color: rgba(0, 0, 0, 0);
}

.primary-color{
    -fx-background-color: #d5ffd7;
    -fx-border-radius: 30;
}

.card1 {
    -fx-background-color: #fff;
    -fx-background-radius: 10;
}

.menu {
    -fx-background-color: #ecfbff;
    -fx-background-radius: 30;
}

/* .books-button */
.books-button {
    -fx-border-width: 2px;
    -fx-border-color: #24b4fb;
    -fx-background-color: #24b4fb;
    -fx-background-radius: 15;
    -fx-border-radius: 0.9em;
    -fx-cursor: hand;
    -fx-padding: 0.8em 1.2em 0.8em 1em;
    -fx-font-size: 12.5px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-transition: all 0.5s ease-in-out;
}

/* .button-span */
.button-span {
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* .button-hover */
.books-button:hover {
    -fx-background-color: #007af5;
}

.circle {
    -fx-stroke: #3498db;
    -fx-stroke-width: 5px;
    -fx-fill: transparent;
}

.progress-indicator {
    /*visibility: visible; */ 
    opacity: 1;      
}

.APISearchView {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-border-color: #000000;
    -fx-border-width: 1 1 1 1;
}

.bookShortInfo {
    -fx-border-color: #6f6f6f;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 2;
    -fx-background-color: #ffffff;
    -fx-background-radius: 2;
}

.search-choice{
    -fx-border-color: #6f6f6f;
    -fx-border-width: 0 1 0 0;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 30;
}