.white-background{
    -fx-background-color: #ffffff;
}

.right-side-border{
    -fx-border-color: #6f6f6f;
    -fx-border-width: 0 1 0 0;
}

.bottom-side-border{
    -fx-border-color: #6f6f6f;
    -fx-border-width: 0 0 1 0;
}

.borrow-button{
    -fx-border-color: #000000;
    -fx-border-radius:30;
    -fx-background-color: #1f8387;
    -fx-background-radius: 30;
}

.borrowed-button{
    -fx-border-color: #000000;
    -fx-border-radius:30;
    -fx-background-color: #bebebe;
    -fx-background-radius: 30;
}

.search-container{
    -fx-border-color: #000000;
    -fx-border-radius:30;
    -fx-background-color: #ffffff;
}

.right-side-border {
    -fx-border-color: #ddd;
    -fx-border-width: 0 1px 0 0; /* Viền bên phải */
}

/* Menu (Hộp ngang chứa các mục) */
.menu {
    -fx-background-color: transparent; /* Nền trong suốt mặc định */
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-cursor: hand; /* Hiển thị con trỏ tay khi di chuột vào */
}

/* Hiệu ứng khi di chuột vào mục menu */
.menu:hover {
    -fx-background-color: #f1f1f1; /* Đổi nền sáng khi hover */
    -fx-border-color: #a2ddff; /* Viền màu đỏ */
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

/* Hình ảnh trong menu */
.menu ImageView {
    -fx-opacity: 0.8; /* Hình ảnh nhạt hơn chút */
}

.menu:hover ImageView {
    -fx-opacity: 1.0; /* Hình ảnh rõ nét khi hover */
}

/* Label trong menu */
.menu Label {
    -fx-text-fill: #333333; /* Màu chữ mặc định (xám đậm) */
}

.menu:hover Label {
    -fx-text-fill: #e60000; /* Đổi màu chữ thành đỏ khi hover */
}

/* Logo (HUET Logo) */
.ImageView {
    -fx-border-color: #ddd; /* Viền nhạt xung quanh logo */
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-color: rgba(0, 0, 0, 0);
}

.menu:hover {
    -fx-background-color: #ecfbff;
    -fx-background-radius: 30;
}

/* .books-button */
.books-button {
    -fx-border-width: 2px;
    -fx-border-color: #24b4fb;
    -fx-background-color: #24b4fb;
    -fx-background-radius: 15;
    -fx-border-radius: 0.9em;
    -fx-cursor: hand;
    -fx-padding: 0.8em 1.2em 0.8em 1em;
    -fx-font-size: 12.5px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-transition: all 0.5s ease-in-out;
}

/* .button-span */
.button-span {
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* .button-hover */
.books-button:hover {
    -fx-background-color: #007af5;
}

.circle {
    -fx-stroke: #3498db;
    -fx-stroke-width: 5px;
    -fx-fill: transparent;
}

.progress-indicator {
    /*visibility: visible; */ 
    opacity: 1;      
}

.APISearchView {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-border-color: #000000;
    -fx-border-width: 1 1 1 1;
}

.bookShortInfo {
    -fx-border-color: #eae9e9;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 2;
    -fx-background-color: #ffffff;
    -fx-background-radius: 2;
}

.search-choice{
    -fx-border-color: #6f6f6f;
    -fx-border-width: 0 1 0 0;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 30;
}

/* Lớp CSS cho TextField */
.form {
    -fx-border-color: #838383;
    -fx-border-width: 0.5 0.5 0.5 0.5;
    -fx-border-radius: 5;
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
}

/* Hiệu ứng khi TextField được focus */
.form:focused {
    -fx-border-color: rgb(129, 218, 248);    /* Màu border khi focus */
    -fx-border-width: 2 2 2 2;
    -fx-background-color: #fff;                    /* Nền sáng khi focus */
    -fx-box-shadow: 0 0 15px 15px rgba(129, 140, 248, 0.5); /* Box shadow khi focus */
}

/* Hiệu ứng khi hover */
.form:hover {
    -fx-border-color: rgb(129, 195, 248);    /* Màu border khi hover */
    -fx-background-color: #fff;                    /* Nền sáng khi hover */
    -fx-box-shadow: 0 0 15px 15px rgba(113, 171, 248, 0.5); /* Box shadow khi hover */
}

.Borrowed-Books-Info {

    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-width: 0 0 0 0;
}

.return-books-button {
    -fx-background-color: #bd5355;
}